<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'materialize.min.css', media: 'all' %>
  <%= javascript_include_tag 'materialize.min.js' %>
  <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <nav>
      <div class="nav-wrapper">
      <a href="#" class="brand-logo">Reddit on Rails</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if logged_in? %>
        <li><%= link_to("Logout", session_url, method: :delete) %></li>
        <li><%= link_to("Home", subs_url, method: :get) %></li>
        <li><%= link_to("My Profile", user_url(current_user), method: :get) %></li>
        <li><%= link_to "Submit Post", new_post_url, method: :get %></li>
        <li><%= link_to "Create Sub", new_sub_url, method: :get %></li>
      <% else %>
        <li><%= link_to("Login", new_session_url, method: :get) %></li>
        <li><%= link_to("Sign Up", new_user_url, method: :get) %></li>
        <li><%= link_to("Home", subs_url, method: :get) %></li>
      <% end %>
      </ul>
      <% if flash[:errors].is_a? String %>
        <h3 class="nav-h3"><%= flash[:errors] %></h3>
      <% elsif flash[:errors] %>
        <% flash[:errors].each do |e| %>
         <%= e %>
        <% end %>
      <% end %>
      </div>  
    </nav>
  </header>

<%= yield %>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="javascripts/materialize.min.js"></script>

</body>
</html>
