<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link type="text/css" rel="stylesheet" href="stylesheets/materialize.min.css"  media="screen,projection"/>

  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <nav>
      <% if logged_in? %>
        <%= button_to("Logout", session_url, method: :delete, class:'waves-effect waves-light btn-large') %>
        <%= button_to("Home", subs_url, method: :get) %>
        <%= button_to("My SubReddits", user_url(current_user), method: :get) %>
        <%= button_to "Submit Post", new_post_url, method: :get %>
        <%= button_to "Create Sub", new_sub_url, method: :get %>
      <% else %>
        <%= button_to("Login", new_session_url, method: :get) %>
        <%= button_to("Sign Up", new_user_url, method: :get) %>
        <%= button_to("Home", subs_url, method: :get) %>
      <% end %>
      <% if flash[:errors] %>
        <% flash[:errors].each do |e| %>
         <%= e %>
        <% end %>
      <% end %>
    </nav>
  </header>


<%= yield %>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="javascripts/materialize.min.js"></script>

</body>
</html>
